* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.internal_container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

.header__top {
  color: white;
}

.header__container {
  background: #8F0365;
}

.mobilelogo {
  display: none;
}

.nav1 {
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.call a {
  color: white;
}

.brousers a {
  margin-left: 56px;
}

.translate a {
  color: white;
  margin-left: 46px;
}

.header_button {
  background: #FFDCF5;
}

.header_bottom_nav_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_bottom_nav_list_item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
  padding-top: 32px;
  padding-bottom: 48px;
  color: #000000;
}

.logo {
  font-family: "Rochester";
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  /* identical to box height */
  color: #D40597;
}

.header__container2 {
  background-color: #FFDCF5;
}

#menu {
  appearance: none;
  position: absolute;
}

.mobile {
  display: none;
}

label {
  display: none;
}

.hero_section {
  justify-content: space-between;
  align-items: center;
}

.hero__container {
  background: #8F0366;
}

.hero__container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero_text {
  background-image: url(../imgs/heroallabg.png);
  background-position: unset;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 220px;
}
.hero_text h2 {
  width: 674px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 95px;
  line-height: 116px;
  color: #FFFFFF;
  margin-top: 209px;
}
.hero_text p {
  width: 573px;
  height: 90px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 227px;
}

.hero_img {
  margin-right: 50px;
  position: relative;
  height: 816px;
  width: 994px;
  background-image: url(../imgs/Layer1copy.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.hero_img img {
  max-height: 600px;
  max-width: 715px;
  position: absolute;
  left: calc(50% - 300px);
  top: calc(50% - 340.5px);
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container, .nav1 {
    margin: 0 auto;
    max-width: 1024px;
  }
  span, a {
    font-size: 14px;
  }
  .hours {
    max-width: 230px;
  }
  .nav1 {
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
  }
  .translate {
    display: none;
  }
  .brouser {
    display: none;
  }
  .brousers a {
    margin-left: 26px;
  }
  .mobilelogo {
    display: block;
    max-width: 141px;
  }
  .logo {
    display: none;
  }
  .header_bottom_nav_list_item {
    padding-top: 8px;
    padding-bottom: 9px;
    font-size: 25px;
  }
  .mobile {
    display: none;
  }
  .logo2 {
    display: block;
  }
  .header_bottom_nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 740px;
  }
  .nav1 {
    display: none;
  }
  .header_bottom_nav_list_item {
    display: none;
  }
  .mobile {
    display: block;
  }
  .logo {
    width: 65px;
  }
  #menu:checked + .header_bottom_nav_list_item {
    display: block;
    background-color: yellowgreen;
    width: 60%;
    height: 30vh;
    top: 0;
    left: 0;
    margin-top: 330px;
  }
  #menu:checked + .header_bottom_nav_list_item {
    display: block;
    margin-top: 30px;
  }
  #menu:checked ~ .header__nav2 li {
    margin-top: 30px;
    display: block;
  }
}/*# sourceMappingURL=main.css.map */