
@import "general";
@import "veribles";
@import "mixsins";
@import "header";


@media screen and (max-width:768px) {
    .container, .nav1{
        margin: 0 auto;
        max-width: 740px;
    }
    span, a {
        font-size: 14px;
    }
    .hours{
        min-width: 230px;
    }
    .nav1{
        height: 61px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;
        }
    .translate{
        display: none;
    }
    .brouser{
        display: none;
        
    }
    .brousers a{
        margin-left: 16px; 
     }
     .mobilelogo{
        display: block;
        max-width: 141px;
    }
    .logo{
        display: none;
    }
    .header_bottom_nav_list_item{
        padding-top: 8px;
padding-bottom: 9px;
    }
    .header_bottom_nav_list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
}